<%-include("./_header") %>

<!-- Main -->
<main id="site-main">
  <h3>사용자 등록</h3>

  <form class="register" method="POST" action="/contacts/register">
    <label for="username"><b>아이디</b></label>
    <input type="text" placeholder="아이디" name="id" id="id" />
    <label for="password"><b>비밀번호</b></label>
    <input type="password" placeholder="비밀번호" name="pw" id="pw" />
    <!-- <label for="password2"><b>비밀번호 확인</b></label>
    <input
      type="password"
      placeholder="비밀번호 확인"
      name="password2"
      id="password2"
    /> -->
    <input type="submit" value="등록" class="register-btn" />
  </form>
</main>
<!-- /Main -->
